@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";

/* Bootstrap Variables Goes Here */

$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;

// Custom Variable
$black-color: #000000 !default;
$base-color: #5f5f5f !default;
$white-color: #fff !default;
$icon-color: #c1c1c1 !default;
$dark-color: #a5a9ab !default;
$footer-color: #cecece !default;
$gold-color: #afa46e !default;
$dark-gold-color: #5c5535 !default;
$back-grey-color: #ebebeb !default;


//font
$font-family-sans-serif: "ProxiNova", "Didot", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "ProxiNova", "Didot", "Advent Pro", Georgia, "Times New Roman", Times, serif !default;


@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

@font-face {
  font-family: "Didot";
  src: url(../fonts/didot.ttf);
  src: url(../fonts/didot.eot#iefix) format("embedded-opentype"), url(../fonts/didot.ttf) format("truetype"), url(../fonts/didot.svg) format("svg");
}
@font-face {
  font-family: "ProxiNova";
  src: url(../fonts/ProximaNova-Light.otf);
  src: url(../fonts/ProximaNova-Light.eot#iefix) format("embedded-opentype"), url(../fonts/ProximaNova-Light.otf) format("truetype"), url(../fonts/ProximaNova-Light.svg) format("svg");
  font-weight: 300;
}
@font-face {
  font-family: "ProxiNova";
  src: url(../fonts/ProximaNova-Regular.otf);
  src: url(../fonts/ProximaNova-Regular.eot#iefix) format("embedded-opentype"), url(../fonts/ProximaNova-Regular.otf) format("truetype"), url(../fonts/ProximaNova-Regular.svg) format("svg");
  font-weight: 400;
}
@font-face {
  font-family: "ProxiNova";
  src: url(../fonts/ProximaNova-Bold.otf);
  src: url(../fonts/ProximaNova-Bold.eot#iefix) format("embedded-opentype"), url(../fonts/ProximaNova-Bold.otf) format("truetype"), url(../fonts/ProximaNova-Bold.svg) format("svg");
  font-weight: 600;
}
body {

  font-family: 'ProxiNova', 'Didot';
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
.row-flex {
  @include display(flex);
}
.col-flex {
  @include flex(1);
  position: relative;
}
/* Start writing sass here */
.navbar-default {
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
}
.nav-header {
    background: $white-color;
    margin-top: 30px;
}
.navbar-brand{
      margin: -2px 0px 0px 0px;
        padding: 0px 0px 0px 30px;
      img{
        width: 55px;
      }
}
.navbar-nav {
    text-transform: uppercase;
    .active{
      a{
        color: #555 !important;
      background-color: rgba(231, 231, 231, 0) !important;
      font-weight: 600;
      }
    }
}
.custom-li{
  ul{
    list-style: none;
    display: block;
    li{
      display: inline-block;
    }
  }
}
.social-icon{
  padding-top: 16px;
  ul{
    li{
          padding: 0px 10px 0px 0px;
          a{
            color:$icon-color;
                font-size: 16px;
            &:hover{
                color:$icon-color;
                text-decoration: none;
            }
            &:focus{
                color:$icon-color;
                text-decoration: none;
                outline: 0;
            }
          }
    }
  }
}
.footer-white{
  background: #000;
}
.footer{
  ul{
        margin: 10px 0px;
        li{
            padding: 0px 15px;
            a{
              color: $white-color;
              &:hover{
                  color: $white-color;
                  text-decoration: none;
              }
              &:focus{
                  color: $white-color;
                  text-decoration: none;
                  outline: 0;
              }
            }
        }
  }
}
.font-didot{
    font-family: 'didot';
    text-transform: uppercase;
}
.color-gold{
  color:$gold-color;

}
.font-weight300{
  font-weight: 300;
}
.banner{
  position: relative;
}
.bg-size{
  background-size: cover;
  background-position: center center;
}
.back-banner{
  background: url(../img/banner1.jpg)no-repeat;
@extend .bg-size;
}
.back-banners{
  background: url(../img/contact.jpg)no-repeat;
@extend .bg-size;
}
.client-banners{
  background: url(../img/clients.jpg)no-repeat;
@extend .bg-size;
}
.career-banners{
  background: url(../img/career.jpg)no-repeat;
@extend .bg-size;
}
.project-banners{
  @extend .bg-size;
  // background: url(../img/career.jpg)no-repeat;
  background-repeat: no-repeat;

  position: relative;
}
.back-banner2{
@extend .back-banner;
  background: url(../img/banner2.jpg)no-repeat;
}
.back-banner3{
  background: url(../img/banner3.jpg)no-repeat;
@extend .back-banner;
}
.back-banner3{
  background: url(../img/banner3.jpg)no-repeat;
@extend .back-banner;
}
.bkp-img{
  background: url(../img/curve.png)no-repeat;
  color: #fff;
  background-size: contain;
  background-position: left;
  min-height: 260px;
  background-position-x: 23px;

}

.bg-user{
  // background: url(../img/bg-user.png)no-repeat;
  // color: #fff;
  // background-size: contain;
  // background-position: left;
  // // min-height: 260px;
  // // background-position-x: 23px;
position: relative;
}
.color-white{
  color:$white-color;
}
.up-side{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  @include transform (translatex(-50%) translatey(-50%));
  h1{
    font-size: 68px;
    color:#CACACA;;
    font-family: 'didot';
    padding-top: 100px;
  }
}
.head-font{
  @extend .up-side;
  h1{
    padding-top: 0px;
  }
}
.display-inline{
  display: inline-block;
}
.bck-color{
  background:$back-grey-color;
  position: relative;
}
.overview-box {
    position: absolute;
    top: 50%;
    left: 50%;
  @include transform (translatex(-50%) translatey(-50%));
}
.mt60{
    margin-top: 60px;
}
.mb60{
    margin-bottom: 60px;
}
.management-title{

  margin-bottom: 40px;
}
.img-boxs {
    text-align: center;
    height: auto;
    width: 60%;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));

    img {
      width: 100%;
    }
}
.title {
    padding: 10px 0px;
    h5{
      font-weight: 300;
      span{
        font-weight: 600;
      }
    }
}
hr {
    margin-top: 0px;
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid $gold-color;
    width: 25%;
}
.info {
    padding: 0px 20px;
}
.vision-mission{
  background: $gold-color;
}
.pt30{
  padding-top: 30px;
}
.pb30{
  padding-bottom: 30px;
}
.pt100{
  padding-top: 100px;
}
.pb100{
  padding-bottom: 100px;
}
.pt50{
  padding-top: 50px;
}
.pb50{
  padding-bottom: 50px;
}
.pb100{
  padding-bottom: 100px;
}
.font25{
  font-size: 25px;

}
.creat{
  text-transform: lowercase !important;
font-size: 80px;
line-height: 60%;
padding-right: 78px;
}
.space{
  font-size: 80px;
line-height:30%;
color:$dark-gold-color;
  text-transform: lowercase !important;
  padding-left: 48px;
}
.that{
  font-size: 20px;
font-weight: 300;
display: block;
padding-left: 30px;
color:$dark-gold-color;
}
.quality{
  @extend .that;
  padding-left: 0px;
}
.project{
  background: $dark-color;
}
.f60{
      font-size: 60px;
}
.project-logo {
    height: 220px;
    width: auto;
    overflow: hidden;
    display: block;
    position: relative;
    padding: 0px 0px;
    img{
      max-width: 100%;
max-height: 100%;
position: absolute;
top: 50%;
left: 50%;
@include transform (translatex(-50%) translatey(-50%));
    }
}
.border-right{
      border-right: 2px solid grey;
}
.enter{
  font-size: 18px;
  /* text-decoration: underline; */
  letter-spacing: 6px;
  border-bottom: 1px solid #fff;
  &:hover{
    color:$white-color;
    text-decoration:  none;
  }

}
.getintouch{
  .form-control {
    border: 0px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);

    border-bottom: 1px solid #D6D6D6;
}
}
.submit{
  color:$base-color;
  text-decoration: none;
  &:hover{
    color:$base-color;
    text-decoration: none;
  }
  &:focus{
    color:$base-color;
    text-decoration: none;
  }
}
.slider{
  .flexslider{
    border: 0px solid;
        margin: 0 0 0px;
  }
  .flex-direction-nav {
    display: none;
}
.flex-control-nav {
    bottom: 30px;
  z-index: 99;
}

}
.flex-control-paging {
  li{
    a {
        width: 11px;
        height: 11px;
        display: block;
        background: #FFF;
        background: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        text-indent: -9999px;
        -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.3);
        -moz-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.3);
        -o-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.3);
        box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.3);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
  }
}
.flex-control-paging li a.flex-active {
    background: #fff !important;
    background: rgba(255, 255, 255, 0.5);
    cursor: default;
}
.project-main.tex-center {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform (translatex(-50%) translatey(-50%));
    z-index: 99;
}
.grey-bg{
  background: $back-grey-color;
}
.project-desc{
  background: $white-color;
  padding: 30px;
  margin-top: -20px;
z-index: 9;
position: relative;
}
.f45{
  font-size: 45px;
}
.back-box{
  background: url(../img/grey-bg.png)no-repeat;
  background-size: cover;
  background-position: center center;
      padding: 25px 40px 25px 40px;
}
.padding0{
  padding: 0px;
}
.project-info-title{
  h5{
    font-size: 16px;
color: #3a3a3a;
font-weight: 600;
text-transform: uppercase;
  }
  ul{
    padding-left: 15px;
    li{
      color:#5f5f5f;
          line-height: 220%;
    }
  }
}
.bg-input{
  background: transparent;
}
.client-logo{
  @extend .project-logo;
  height: 160px;
}
.img-box{
  @extend .project-logo;
  height: 300px;
  border: 1px solid #ccc;
}
.news-name {
    padding-top: 15px;
    /* display: inline-block; */
}
.font15{
  font-size: 15px;
}
.font13{
  font-size: 13px;
  float: right;
}
.navbar-default {
  .navbar-toggle {
      border-color: rgba(221, 221, 221, 0);
      &:hover{
        background-color: rgba(221, 221, 221, 0);
}
&:focus{
    background-color: rgba(221, 221, 221, 0);
}
      }
  }
.float-right{
  float: right;
}
.full-image {
  width: 100%;
  height: auto;
}
.border-bottom{
  display: inline-block;
border-bottom: 1px solid #fff
}
span.font25.to {
    padding-left: 20px;
}

span.enhance {
    font-family: didot;
    font-size: 46px;
    line-height: 60%;
}

span.life {
    color: #5c5535;
    font-weight: 300;
}

.that {
    font-size: 74px;
    font-family: didot;
    padding-left: 53px;
    line-height: 60%;
}

span.estate {
    font-size: 14px;
    font-weight: 300;
    color: #5c5535;
}

span.philo {
    float: right;
    font-weight: 300;
    line-height: 70%;
    color: #5c5535;
    font-size: 16px;
}
.contact-bg{
  background: $back-grey-color;
}
.contact {
    font-weight: 300;
}

.contact {
  p {
      line-height: 100%;
  }
}
@import "mobile";
