<section class="know-bg">
    <div class="row-flex display-block-mobile">
        <div class="col-flex">
            <div class="banner2">
                <div class="hidden-xs hidden-sm">
                    <img src="img/BJS.jpg" class="img-responsive w100">
                    <div class="head-font">
                        <h1 class="head-shantilal text-center">BHARATIYA JAIN SANGHATANA</h1>
                    </div>
                </div>
                <div class="hidden-lg hidden-md">
                    <img src="img/BJS.jpg" class="img-responsive w100">
                    <div class="head-font iph-head">
                        <h1 class="head-shantilal text-center">BHARATIYA JAIN SANGHATANA</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-flex bck-color change-pad">
            <div class="overview-box shantilal-cont overview">
                <h1 class="gold font-didot">OVERVIEW</h1>
                <p class="font-weight300">Bharatiya Jain Sanghatana (BJS) has been working in the fields of disaster relief &amp; school education for more than 30 years. BJS' largest &amp; longest running venture, the Wagholi Educational Rehabilitation Centre (WERC) in Pune,
                    has been running a complete educational, physical &amp; psycho-social rehabilitation of disaster affected children from different parts of the country. Presently, BJS is running a program Empowering the Next Generation (ENG). This
                    program supports student beneficiaries from drought hit regions of Maharashtra which are affected by farmer suicides. Currently 277 children affected by farmer suicides are being cared for in this WERC facility. This program is run
                    specifically for students between Std V &amp; Std XII. Simultaneously, 312 children from the impoverished tribal regions of Melghat &amp; Thane in Maharashtra are also part of this rehabilitation program in WERC. The overall goal of
                    the project is to educate and capacitate the children of farmer suicides so as to transform them to become the 'change agents' of their own community.

                </p>
            </div>
        </div>
    </div>
    <div class="bg-white">
    <div class="container">
        <div class="row">
            <div class="text-center mt60 mb60">
                <h1 class="font-didot ft-size">Our Philosophy</h1>
            </div>
            <div class="col-md-offset-1 col-md-10">
                <div class="desc mb60 pad20 margin60">
                    <p class="font-weight300">We believe that good education is the bedrock of a good life for individuals and societies. As agreed by the nations of the world through the Convention on the Rights of the Child, 1989, school education should enable the full development
                        of the child&#39;s personality, talents and mental and physical abilities, and prepare the child for responsible life, in the spirit of understanding, peace, tolerance, equality of sexes, and friendship among all peoples. Unfortunately,
                        with 1.4 million schools in the country, meeting these fundamental aims of education is a daunting task. A mass education system like ours focuses on quantity rather than quality, and attainment of grades rather than acquisition
                        of values, attitudes and competencies required to be a good citizen. We believe it is our responsibility as a civil society organization to change this situation.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="vision-mission">
        <div class="container">
            <div class="pt100 pb100 iph-1">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 bod-shantilal cen-line no-bod">
                        <div class="shantilal-desc-main color-white">
                            <div class="vision-title text-center">
                                <h2 class="font-didot mar0">VISION</h2>
                                <hr class="mission-vision">
                            </div>

                            <!-- <p class="color-white text-justify">
                  Our vision is to ensure that all children get an education that will help them become caring, responsible and productive citizens.
                </p> -->
                            <div class="vision-desc pt30 cont-center iph">
                                <span class="font25 to">To Collectively</span>
                                <div class="vision-desc">
                                    <span class="font25 to rb">Contribute Towards</span>
                                </div>
                                <div class="create mt-10 mgt-13">
                                    <span class="nat font25 to">nation</span>
                                </div>

                                <div class="spaces mgt-28">
                                    <span class="life color-white mob-set">building</span>
                                </div>
                                <div class="pl75 pl-120 mob-1">
                                    <span class="estate">through</span>
                                </div>
                                <div class="that pdnone mg-set mob-2">
                                    <span class="nat world">holistic</span>
                                </div>

                                <div class="lh50 mgt mob-3">
                                    <span class="philo nat">development of society</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="mission shantilal-desc-main color-white ">
                            <div class="mission-title text-center">
                                <h2 class="font-didot mar0">MISSION</h2>
                                <hr class="mission-vision">
                            </div>
                            <div class="shantilal-desc pt30 vision-desc">
                                <p class="color-white text-justify pos-fix">
                                    <div class="mg-fix">
                                        Disaster Response:
                                        <li>Establish an international Disaster Management Institute.</li>
                                    </div>
                                    <div class="mg-fix">
                                        Social Development:
                                        <li>Deliver programs for effecting transformation.</li>
                                    </div>
                                    <div class="mg-fix">
                                        Educational Initiatives:
                                        <li>Deliver programs that will result in holistic development of children</li>
                                    </div>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="founder pt100 pb100 bg-white">
        <div class="container">
            <div class="row cen-button">
                <div class="col-md-offset-1 col-md-10">
                    <div class="row">
                        <div class="text-center mt60 mb60">
                            <h1 class="font-didot">The Founder</h1>
                        </div>
                        <div class="col-md-3">
                            <div class="circle">
                                <img src="img/give/shantilal/founder.jpg" alt="">
                            </div>
                            <p class="text-center">
                                Mr. Shantilal Muttha
                            </p>
                            <hr class="mission-vision color-golds-brd">
                        </div>

                        <div class="col-md-9">
                            <div class="cont-founder">
                                <p class="text-justify">Shantilal Muttha, the founder-chairman of the Shantilal Muttha Foundation, is a successful entrepreneur who has devoted himself entirely to voluntary developmental work over the past four decades. Born in Dongarkini, a
                                    village in the under-developed Beed district of Maharashtra, on August 15, 1954, he overcame several personal challenges to establish himself in business. After a successful career in business, he decided to use all
                                    his energies and resources to work in the areas of school education, social change, and disaster response and rehabilitation. To give an organizational platform for work in these areas, he founded the Bharatiya Jain
                                    Sanghatana (BJS) in 1980 and headed it till the end of 2013. A secular NGO with a national network, BJS has several achievements to its credit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="btn-vis text-center">
                        <a href="http://bjsindia.org" target="_blank" class="btn btn-secondary btn-visit" role="button">Visit Website</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="give bg-white">
        <div class="container-fluid">
            <div class="pt6">
                <div class="row">
                    <div class="col-custom-6 pr3">
                        <div class="img-holder pb3">
                            <img src="img/give/bjs/g1.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="col-custom-7 pl3">
                        <div class="img-holders pb3">
                            <img src="img/give/bjs/g2.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="img-holders pt3">
                            <img src="img/give/bjs/g3.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
