<section>
  <div class="banner">
    <img src="img/banner3.jpg" class="img-responsive">
    <div class="head-font">
      <h1>BUILD</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="desc mt60 mb60">
          <P class="font-weight300">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</P>
        </div>
      </div>
    </div>
  </div>
  <div class="project">
    <div class="pt50 pb100">
    <div class="text-center">
      <h1 class="color-white font-didot f60">projects</h1>
    </div>
    <div class="container pt100">
      <div class="row">
        <div class="col-md-3 border-right">
          <div class="project-logo">
            <img src="img/project/p1.png" class="img-responsive">
          </div>
        </div>
        <div class="col-md-3 border-right">
          <div class="project-logo">
            <img src="img/project/p2.png" class="img-responsive">
          </div>
        </div>
        <div class="col-md-3 border-right">
          <div class="project-logo">
            <img src="img/project/p3.png" class="img-responsive">
          </div>
        </div>
        <div class="col-md-3 border-right">
          <div class="project-logo">
            <img src="img/project/p3.png" class="img-responsive">
          </div>
        </div>

      </div>
    </div>
    </div>
  </div>
  <div class="container">
    <div class="text-center">
      <h1>GET IN TOUCH</h1>
    </div>
    <div class="row">
      <form action="">
      <div class="col-md-6">

          <div class="form-group">
  <label for="exampleInputEmail1">Name</label>
  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name">
</div>

      </div>
      <div class="col-md-6">

          <div class="form-group">
  <label for="exampleInputEmail1">Email</label>
  <input type="Email" class="form-control" id="exampleInputEmail1" placeholder="Email">
</div>
      </div>
        </form>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
<label for="exampleInputEmail1">Enquiry</label>
<input type="Enquiry" class="form-control" id="exampleInputEmail1" placeholder="Enquiry">
</div>
<div class="submit-btn pull-right">
  <a href="">Submit</a>
</div>
      </div>
    </div>
  </div>
</section>
