<section>
    <!-- <div class="banner">
    <img src="img/banner3.jpg" class="img-responsive">
    <div class="head-font">
      <h1>CAREERS</h1>
    </div>

  </div> -->


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 padding0">
                <div class="banner career-banners" auto-height>
                    <div class="head-font text-center">
                        <h1>CAREERS</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 padding0">

                <div class="bg-color-car1 pad-box" auto-height>
                    <div class=" full-image text-center">
                        <div class="form pt45">
                            <div class=" mail">
                                <span class="font42">If you wish to join Muttha Group,<br> please fill in the following details :</span>
                            </div>
                            <div class="col-md-offset-2 col-md-8">

                                <form class="form-design">
                                  <div class="resume-padd">
                                      <h1 class="font-weight300 mgt0 ft20">Upload your Resume</h1>
                                      <upload-image ng-model="formData.resume" ng-callback="changeit" no-view></upload-image>
                                  </div>
                                    <div class="form-group getintouch">
                                        <!-- <label for="exampleInputEmail1">Name</label> -->
                                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name">
                                    </div>
                                    <div class="form-group getintouch">
                                        <!-- <label for="exampleInputEmail1">Email</label> -->
                                        <input type="Email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                    </div>
                                    <div class="form-group getintouch">
                                        <!-- <label for="exampleInputEmail1">Email</label> -->
                                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Subject">
                                    </div>
                                    <div class="form-group getintouch">
                                        <!-- <label for="exampleInputEmail1">Enquiry</label> -->
                                        <!-- <span contenteditable="true" placeholder="Enquiry"></span>
                                          <span contenteditable="true"></span> -->
                                        <!-- <textarea type="text" class="form-control" id="exampleInputEmail1" placeholder="Enquiry"></textarea> -->
                                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enquiry">

                                    </div>
                                    <div class="submit-btn float-right">
                                        <a href="" class="submit">Submit</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
            <div class="banner career-banners" auto-height>
                <div class="head-font">
                    <h1>CAREERS</h1>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="vision-mission">
                <div class="container pt50 pb50">
                    <div class="text-center mail">
                        <span class="font25">If you wish to join Mutha Group please email your resume at <a href="mailto:careers@muthagroup.com" target="_blank">careers@muthagroup.com</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div> -->
</section>
