<section>
  <div class="banner">
    <img src="img/banner3.jpg" class="img-responsive">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h1>CAREERS</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <span>If you wish to join Mutha Group please email your resume at careers@muthagroup.com</span>
        </div>
      </div>
    </div>
  </div>
</section>
