<section>
  <!-- <div class="banner">
    <img src="img/banner3.jpg" class="img-responsive">
    <div class="head-font">
      <h1>CAREERS</h1>
    </div>

  </div> -->
  <div class="banner career-banners" auto-height>
    <div class="head-font">
      <h1>CAREERS</h1>
    </div>
  </div>
  <div class="vision-mission">
  <div class="container pt50 pb50">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center mail">
          <span class="font25">If you wish to join Mutha Group please email your resume at <a href="mailto:careers@muthagroup.com" target="_blank">careers@muthagroup.com</a></span>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
