<section>
    <!-- <div class="banner">
    <img src="img/banner3.jpg" class="img-responsive">
    <div class="head-font">
      <h1>CLIENTS</h1>
    </div>

  </div> -->
    <!-- <div class="row-flex">
        <div class="col-flex">
            <div class="banner clients-banners" auto-height>
                <div class="head-font">
                    <h1>CLIENTS</h1>
                </div>
            </div>
        </div>
        <div class="col-flex">
            <div class="bg-color">
              <div class="logo pt50 pb50">
                <div class="">
                  <div class="col-md-6" ng-repeat="data in clients track by $index">
                    <div class="logo-client">
                      <img ng-src="img/clients/c1.png" class="img-responsive">
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 padding0">
                <div class="banner client-banners" auto-height>
                    <div class="head-font">
                        <h1>CLIENTS</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 padding0">
                <div class="bg-color">
                    <div class="logo">
                      <div class="img-client">
                        <div class="row">
                              <div class="col-md-6">
                                  <div class="logo-client">
                                      <img ng-src="img/clients/c1.png" class="img-responsive">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="logo-client">
                                      <img ng-src="img/clients/c2.png" class="img-responsive">
                                  </div>
                              </div>
                            </div>
                        </div>
                        <div class="img-client">
                        <div class="row">
                              <div class="col-md-6">
                                  <div class="logo-client">
                                      <img ng-src="img/clients/c3.png" class="img-responsive">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="logo-client">
                                      <img ng-src="img/clients/c6.png" class="img-responsive">
                                  </div>
                              </div>
                            </div>
                        </div>
                        <div class="img-client">
                        <div class="row">
                              <div class="col-md-6">
                                  <div class="logo-client">
                                      <img ng-src="img/clients/c5.png" class="img-responsive">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="logo-client">
                                      <img ng-src="img/clients/c7.png" class="img-responsive">
                                  </div>
                              </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="">
                              <div class="logo-clients text-center">
                                  <img ng-src="img/clients/c4.png" class="img-responsive">
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
