<section>
  <!-- <div class="banner">
    <img src="img/banner3.jpg" class="img-responsive">
    <div class="head-font">
      <h1>CLIENTS</h1>
    </div>

  </div> -->
  <!-- <div class="row-flex">
        <div class="col-flex">
            <div class="banner clients-banners" auto-height>
                <div class="head-font">
                    <h1>CLIENTS</h1>
                </div>
            </div>
        </div>
        <div class="col-flex">
            <div class="bg-color">
              <div class="logo pt50 pb50">
                <div class="">
                  <div class="col-md-6" ng-repeat="data in clients track by $index">
                    <div class="logo-client">
                      <img ng-src="img/clients/c1.png" class="img-responsive">
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 padding0">
        <div class="banner client-banners" auto-height>
          <div class="head-font text-center">
            <h1>CLIENTS</h1>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 padding0">
        <div class="bg-color mob mobiles noautoheight" auto-height>
          <div class="logo position-center">
            <div class="img-client">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="logo-client">
                    <img ng-src="img/clients/1.jpg" class="img-responsive">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="logo-client">
                    <img ng-src="img/clients/2.jpg" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>
            <div class="img-client">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="logo-client">
                    <img ng-src="img/clients/3.jpg" class="img-responsive">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="logo-client">
                    <img ng-src="img/clients/4.jpg" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>
            <div class="img-client">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="logo-client">
                    <img ng-src="img/clients/5.jpg" class="img-responsive">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="logo-client">
                    <img ng-src="img/clients/6.jpg" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>
            <div class="img-client">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="logo-clients text-center">
                    <img ng-src="img/clients/7.jpg" class="img-responsive">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="logo-clients text-center">
                    <img ng-src="img/clients/8.jpg" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>
            <div class="img-client">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="logo-clients text-center">
                    <img ng-src="img/clients/9.jpg" class="img-responsive">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="logo-clients text-center">
                    <img ng-src="img/clients/10.jpg" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>
            <div class="img-client">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="logo-clients text-center">
                    <img ng-src="img/clients/11.jpg" class="img-responsive">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="logo-clients text-center">
                    <img ng-src="img/clients/12.jpg" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>
            <div class="img-client">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="logo-clients text-center">
                    <img ng-src="img/clients/13.jpg" class="img-responsive">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="logo-clients text-center">
                    <img ng-src="img/clients/14.jpg" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>
            <div class="img-client">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="logo-clients text-center">
                    <img ng-src="img/client/1.png" class="img-responsive">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="logo-clients text-center">
                    <img ng-src="img/client/2.png" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>
            <div class="img-client">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="logo-clients text-center">
                    <img ng-src="img/client/3.png" class="img-responsive">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="logo-clients text-center">
                    <img ng-src="img/client/BJS_1_ENG.png" class="img-responsive">
                  </div>
                </div>
              </div>
            </div>
            <div class="img-client">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="logo-clients text-center">
                    <img ng-src="img/client/TSYS_Logo.png" class="img-responsive">
                  </div>
                </div>
                <!-- <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="logo-clients text-center">
                    <img ng-src="img/clients/BJS_1_ENG.png" class="img-responsive">
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
