<section class="contact-bg know-bg">
    <!-- <div class="banner hidden-xs hidden-sm">
    <img src="img/banner3.jpg" class="img-responsive">
    <div class="head-font">
      <h1>CONTACT</h1>
    </div>

  </div> -->
  <div class="container-fluid">
    <div class="row o-hidden">
      <div class="col-md-6 col-sm-12 col-xs-12 padding0">
        <div class="banner back-banners hidden-xs" give-height>
          <div class="head-font head-sz">
            <h1 class="text-center">CONTACT US</h1>
          </div>
        </div>
        <div class="banner back-bannerss visible-xs" style="height: 250px;">
          <div class="head-font head-sz">
            <h1 class="text-center">CONTACT US</h1>
          </div>
        </div>
      </div>

    <div class="col-md-6 col-sm-12 col-xs-12 padding0">
      <div class="pad-box overview padings70 pading-new" id="getHeight">

      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="contact ">
              <h3 class="leftalign">Corporate Address:</h3>
              <p>Level VII , Muttha Chambers II ,</p>
              <p>Senapati Bapat Marg, Pune India 411016</p>
              <!-- <p> E-mail :<a href="mailto:publicconcern@gmail.com" target="_top"> publicconcern@gmail.com</a></p> -->
              <p>Tel : +91 020 4005-0000 </p>
              <!-- <p>Tel : + 91 2162-244464/65 </p> -->
              <p>Fax : +91 20 66050011. </p>
              <p> Email : marketing@muttha.com</p>
          </div>

        </div>
      </div>
                      <div class="row">
                          <div class=" col-md-6 col-sm-6 col-xs-12">
                            <div class="form">
                                <div class="pt30">
                                    <h1 class="font-weight300 mgt0 ft20 color-white">GET IN TOUCH </h1>
                                </div>
                                  <form class="form-design" ng-submit="contactsubmit(formData);">
                                          <div class="form-group getintouch">
                                              <!-- <label for="exampleInputEmail1">Name</label> -->
                                              <input type="text" class="form-control" id="exampleInputEmail1" name="Name" placeholder="Name" ng-model="formData.name" required aplha-only>
                                          </div>
                                          <div class="form-group getintouch">
                                              <!-- <label for="exampleInputEmail1">Email</label> -->
                                              <input type="Email" class="form-control" id="exampleInputEmail1" name="Email" placeholder="Email" ng-model="formData.email" required ng-pattern="/^[a-z]+[@][a-z]+[.]+[a-z]*$/">
                                          </div>
                                          <!--<div class="form-group getintouch">
                                               <label for="exampleInputEmail1">Email</label> 
                                              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Subject" ng-model="formData.subject" required>
                                          </div>-->
                                      <div class="form-group getintouch">
                                          <!-- <label for="exampleInputEmail1">Enquiry</label> -->
                                          <!-- <span contenteditable="true" placeholder="Enquiry"></span>
                                          <span contenteditable="true"></span> -->
                                          <!-- <textarea type="text" class="form-control" id="exampleInputEmail1" placeholder="Enquiry"></textarea> -->
                                          <input type="text" class="form-control" id="exampleInputEmail1" name="Enquiry" placeholder="Enquiry" ng-model="formData.enquiry" required>

                                      </div>
                                  <div class="submit-btn float-right">
                                  <button type="submit" class="btn-submit" name="button" >
                                  Submit
                                     
                                      </button>
                                  </div>

                              </form>
                              </div>

                          </div>
                              </div>
                          <div class="row">
                            <div class="col-md-8 col-sm-8 col-xs-12">
                              <div class="map mt45">
                                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.826959479403!2d73.827346814893!3d18.536720187399553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf707a3d5fe5%3A0x230a5696537db190!2sMutha+Chambers+2%2C+Chaturshrungi%2C+Gokhalenagar%2C+Pune%2C+Maharashtra+411016!5e0!3m2!1sen!2sin!4v1462510859653"
                                      width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                              </div>
                            </div>
                          </div>


      </div>
    </div>
  </div>
  </div>
</section>
