<section>
  <div class="row-flex display-block-mobile">
    <div class="col-flex">
      <div class="banner2">
        <div class="hidden-xs hidden-sm">
          <img src="img/banner2.jpg" class="img-responsive">
          <div class="head-font">
            <h1>KNOW</h1>
          </div>
        </div>
        <div class="hidden-lg hidden-md">
          <img src="img/ban.jpg" class="img-responsive">
        </div>
      </div>
    </div>
    <div class="col-flex bck-color">

      <div class="overview-box">
        <h1 class="color-gold font-didot">OVERVIEW</h1>
        <p class="font-weight300">Established in 1996, the Muttha Group has significantly contributed to the architecture of Pune. From the very first foundation stone that was laid the group has incorporated sound and innovative design concepts, involved some
            of the world's best architects and designers, used state-of-the-art infrastructure to make sure that the projects are nothing short of perfection.</p>

             <p class="font-weight300">Muttha group has developed many large townships in Pune area that include:
               <ul style="list-style:none;"><li>Sakal Nagar in Baner</li>
               <li>Anand Nagar in Kothrud</li>
               <li>Atma Nagar in PCMC</li>
                         </ul>
               </p>
<p class="font-weight300">All of these have gone on to become important landmarks of the city and have been the recipients of many awards.
  </p>
<p class="font-weight300">The group implements many high-end projects in the IT, Commercial, Business, Residential, Premium and De Luxe property segments.
  </p>
<p class="font-weight300">Muttha group focuses on property development of the mixed built which integrates Residential, Retail and IT spaces into one either as a single building project or a cluster of buildings.
  </p>
   <p class="font-weight300">The group’s vision is to develop properties over 7.5 million square feet within the mixed property segment by next couple of years.</p>
      </div>
    </div>
  </div>
  <div class="mt60 mb60">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="management-title text-center">
            <h1 class="font-didot">Management</h1>
          </div>
        </div>
      </div>
      <div class="row">
<div class="col-md-offset-2 col-md-8">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12 mmb30" ng-repeat="data in management track by $index">
      <div class="management-box">
        <div class="bg-user">
          <img src="img/bg-user2.png" class="full-image hides">
          <div class="img-boxs">
            <img ng-src="{{data.img}}">
          </div>
        </div>
        <div class="title text-center">
          <h5>{{data.name}} <span>{{data.desg}}</span> </h5>
          <hr>
        </div>
        <div class="info">
          <p class="font-weight300">
            {{data.desc}}
          </p>

        </div>
      </div>
    </div>
  </div>
</div>

      </div>
    </div>
  </div>
  <div class="vision-mission">
    <div class="container">
      <div class="pt100 pb100">
        <div class="row">
          <div class="col-md-offset-2 col-md-3 col-sm-6 col-xs-12">
            <div class="vision color-white ">
              <div class="vision-title text-center">
                <h2 class="font-didot border-bottom">mission</h2>
              </div>
              <div class="vision-desc pt30">
                <span class="font25 to">To</span>
                <div class="create">
                  <span class="enhance">enhance</span>
                </div>
                <div class="spaces">
                  <span class="life">the life of people around the</span>
                </div>
                <div class="that">
                  <span class="world">world</span>
                </div>
                <div class="">
                  <span class="estate">through both real estate</span>
                </div>
                <div class="">
                  <span class="philo">projects & philanthrophy</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-offset-2 col-md-3 col-sm-6 col-xs-12">
            <div class="mission color-white ">
              <div class="mission-title text-center">
                <h2 class="font-didot border-bottom mmt100">PHILOSOPHY</h2>
              </div>
              <div class="mission-desc pt30 vision-desc">
                <!-- <span class="font25 to">We are an organisation that believes in the joy</span> -->
                <div class="spaces">
                  <span class="life">We are <br>an organisation <br>that believes in the joy of</span>
                </div>
                <div class="create">
                  <span class="enhances">living</span>
                </div>
                <div class="">
                  <span class="unknown">and</span>
                </div>
                <div class="that">
                  <span class="world">giving</span>
                </div>
                <!-- <p class="font-weight300">We are an organisation that believes in the joy of living and giving.</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
