<section>
  <div class="row-flex">
    <div class="col-flex">

  <div class="banner2">
    <img src="img/banner2.jpg" class="img-responsive">
    <div class="head-font">
      <h1>KNOW</h1>
    </div>
  </div>
    </div>
    <div class="col-flex bck-color">

  <div class="overview-box">
    <h1 class="color-gold font-didot">OVERVIEW</h1>
    <p class="font-weight300">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
    </div>
  </div>
  <div class="mt60 mb60">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="management-title text-center">
          <h1 class="font-didot">Management</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" ng-repeat="data in management track by $index">
        <div class="management-box">
          <div class="img-boxs">
            <img ng-src="{{data.img}}">
          </div>
          <div class="title text-center">
            <h5>{{data.name}}({{data.desg}})</h5>
            <hr>
          </div>
          <div class="info">
            <p class="font-weight300">
                {{data.desc}}
            </p>

          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
  <div class="vision-mission">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="vision">
            <div class="vision-title text-center">
              <h1>vision</h1>
            </div>
            <div class="vision-desc">
                <span>to</span>
                <div class="create">
                    <span>creat</span>
                </div>
                <div class="spaces">
                    <span>spaces</span>
                </div>
                <div class="that">
                  <span>that enhance</span>
                </div>
                <div class="quality">
                  <span>the quality of life</span>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mission">
            <div class="mission-title text-center">
              <h1>mission</h1>
            </div>
            <div class="mission-desc">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
