<section>
  <div class="row-flex display-block-mobile">
    <div class="col-flex">
<div class="banner2">
<div class="hidden-xs hidden-sm">
    <img src="img/banner2.jpg" class="img-responsive">
    <div class="head-font">
      <h1>KNOW</h1>
    </div>
  </div>
  <div class="hidden-lg hidden-md">
      <img src="img/know.jpg" class="img-responsive">
  </div>
  </div>
    </div>
    <div class="col-flex bck-color">

  <div class="overview-box">
    <h1 class="color-gold font-didot">OVERVIEW</h1>
    <p class="font-weight300">Muttha Group is a real estate company with a
difference. Here, the business of creating iconic residential and commercial spaces is driven by the spirit of philanthropy. We firmly believe that bringing about social change is as important as building landmarks that set the standard for premium living in the country.</p>
  </div>
    </div>
  </div>
  <div class="mt60 mb60">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="management-title text-center">
          <h1 class="font-didot">Management</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 mmb30" ng-repeat="data in management track by $index">
        <div class="management-box">
          <div class="bg-user">
            <img src="img/bg-user2.png" class="full-image">
          <div class="img-boxs">
            <img ng-src="{{data.img}}">
          </div>
          </div>
          <div class="title text-center">
            <h5>{{data.name}} <span>{{data.desg}}</span> </h5>
            <hr>
          </div>
          <div class="info">
            <p class="font-weight300">
                {{data.desc}}
            </p>

          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
  <div class="vision-mission">
    <div class="container">
      <div class="pt100 pb100">
      <div class="row">
        <div class="col-md-offset-3 col-md-3 col-sm-6 col-xs-12">
          <div class="vision color-white ">
            <div class="vision-title text-center">
              <h1 class="font-didot border-bottom">mission</h1>
            </div>
            <div class="vision-desc pt30">
                <span class="font25 to">To</span>
                <div class="create">
                    <span class="enhance">enhance</span>
                </div>
                <div class="spaces">
                    <span class="life">the life of people around the</span>
                </div>
                <div class="that">
                  <span class="world">world</span>
                </div>
                <div class="">
                  <span class="estate">through both real estate</span>
                </div>
                <div class="">
                  <span class="philo">projects & philanthrophy</span>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mission color-white ">
            <div class="mission-title text-center">
              <h1 class="font-didot border-bottom mmt100">PHILOSOPHY</h1>
            </div>
            <div class="mission-desc pt30 text-center">
              <p class="font-weight300">We are an organisation that believes in the joy of living and giving.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
