<section>
    <!-- <div class="banner">
    <img src="img/banner3.jpg" class="img-responsive">
    <div class="head-font">
      <h1>CAREERS</h1>
    </div>

  </div> -->


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 padding0">
                <div class="banner media-banners " auto-height>
                    <div class="head-font text-center">
                        <h1>MEDIA</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 padding0">

                <div class="bg-color-car1" auto-height>
                    <div class=" full-image">
<div class="media-slider">
  <flex-slider flex-slide="items in news track by $index" prev-text="" next-text="">
      <li >
          <div class="" ng-repeat="data in items">
            <div class="col-md-offset-2 col-md-3" ng-repeat="media in data">
              <div class="media-box">
              <div class="img-m">
                  <img ng-src="{{media.img}}" alt="" class="img-responsive">
              </div>
                <div class="media-title">
                  <h4 class="color-gold margin0">{{media.name}}</h4>
                </div>
                <div class="m-date">
                  <p>{{media.date}}</p>
                </div>
              </div>
            </div>
          </div>
      </li>
  </flex-slider>
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
