<section>
  <div class="slider">
    <flex-slider flex-slide="s in mySlides track by $index">
        <li>
            <img ng-src="{{s}}" class="img-responsive">
        </li>
    </flex-slider>
    <div class="project-main tex-center">
      <img src="img/slider/sc1.jpg">
    </div>
    </div>
    <div class="container">
      <div class="project-desc">
      <div class="text-center">
        <h1>MUTTHA CHAMBERS ONE </h1>
      </div>
      <div class="row">
        <div class="col-md-12">
<div class="project-desc">
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
</div>
        </div>
      </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="back-box">
            <div class="row">
              <div class="col-md-6" ng-repeat="data in Project track by $index">
<img ng-src="{{data}}" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
<div class="project-info-title">
  <h5>Design and Features</h5>
  <div class="project-info">
    <ul>
      <li>It is a 30 storeyed high rise commercial tower.</li>
      <li>Elegantly finished and spacious double height entrance lobby.</li>
      <li>Modern elevation with double glazed unitised glass façade system.</li>
      <li>Centrally air conditioned building.</li>
      <li>Received LEED Gold pre-certification.</li>
      <li>Turnstile access control system at entrance lobby.</li>
      <li>Ample Car parking space on Basement/Podium levels with access control system.
.</li>
      <li>Metal detectors and X-rays baggage scanners at the building entrance
.</li>
<li>Capacious high speed passenger elevators, service elevators and parking
level elevators.</li>
    </ul>
  </div>
</div>

<div class="project-info-title">
  <h5>Technical Specifications</h5>
  <div class="project-info">
    <ul>
      <li>It is a 30 storeyed high rise commercial tower.</li>
      <li>Elegantly finished and spacious double height entrance lobby.</li>
      <li>Modern elevation with double glazed unitised glass façade system.</li>
      <li>Centrally air conditioned building.</li>
      <li>Received LEED Gold pre-certification.</li>
      <li>Turnstile access control system at entrance lobby.</li>
      <li>Ample Car parking space on Basement/Podium levels with access control system.
.</li>
      <li>Metal detectors and X-rays baggage scanners at the building entrance
.</li>
<li>Capacious high speed passenger elevators, service elevators and parking
level elevators.</li>
    </ul>
  </div>
</div>
<div class="project-info-title">
  <h5>Key distances:</h5>
  <div class="project-info">
    <ul>
      <li>It is a 30 storeyed high rise commercial tower.</li>
      <li>Elegantly finished and spacious double height entrance lobby.</li>
      <li>Modern elevation with double glazed unitised glass façade system.</li>
      <li>Centrally air conditioned building.</li>
      <li>Received LEED Gold pre-certification.</li>
      <li>Turnstile access control system at entrance lobby.</li>
      <li>Ample Car parking space on Basement/Podium levels with access control system.
.</li>
      <li>Metal detectors and X-rays baggage scanners at the building entrance
.</li>
<li>Capacious high speed passenger elevators, service elevators and parking
level elevators.</li>
    </ul>
  </div>
</div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="text-center">
        <h1>GET IN TOUCH</h1>
      </div>
      <div class="row">
        <form action="">
        <div class="col-md-6">

            <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name">
  </div>

        </div>
        <div class="col-md-6">

            <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="Email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
        </div>
          </form>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
  <label for="exampleInputEmail1">Enquiry</label>
  <input type="Enquiry" class="form-control" id="exampleInputEmail1" placeholder="Enquiry">
  </div>
  <div class="submit-btn pull-right">
    <a href="">Submit</a>
  </div>
        </div>
      </div>
    </div>
</section>
