<section class="know-bg">
  <div class="row-flex display-block-mobile">
    <div class="col-flex">
      <div class="banner2">
        <div class="hidden-xs hidden-sm">
          <img src="img/shantilal.jpg" class="img-responsive w100">
          <div class="head-font">
            <h1 class="head-shantilal text-center">SHANTILAL MUTTHA FOUNDATION</h1>
          </div>
        </div>
        <div class="hidden-lg hidden-md">
          <img src="img/shantilal.jpg" class="img-responsive w100">
          <div class="head-font">
            <h1 class="head-shantilal text-center">SHANTILAL MUTTHA FOUNDATION</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-flex bck-color">
      <div class="overview-box shantilal-cont overview override">
        <h1 class="gold font-didot">OVERVIEW</h1>
        <p class="font-weight300">Shantilal Muttha Foundation (SMF) is a not-for-profit organization headquartered in Pune, working to bring about fundamental changes in school education, with a strong focus on education for values and school quality assessment for quality improvement.
        </p>
      </div>
    </div>
  </div>
  <div class="bg-white">
  <div class="container">
    <div class="row ">
      <div class="text-center mt60 mb60">
        <h1 class="font-didot">Our Philosophy</h1>
      </div>
      <div class="col-md-offset-1 col-md-10">
        <div class="desc mb60 pad20 margin60">
          <p class="font-weight300 head-mob">We believe that good education is the bedrock of a good life for individuals and societies. As agreed by the nations of the world through the convention on the Rights of the Child, 1989, school education should enable the full development of
            the child&#39;s personality, talents, mental and physical abilities, and prepare the child for responsible a life, in the spirit of understanding, peace, tolerance, equality of sexes, and friendship among all. Unfortunately, with
            1.4 million schools in the country, meeting these fundamental aims of education is a daunting task. A mass education system like ours focuses on quantity rather than quality, and attainment of grades rather than acquisition of values, attitudes
            and competencies required to be a good citizen. We believe it is our responsibility as a civil society organization to change this situation.</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="vision-mission ">
    <div class="container">
      <div class="pt50 pb30">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12 bod-shantilal">
            <div class="shantilal-desc-main color-white">
              <div class="vision-title text-center">
                <h2 class="font-didot mar0">VISION</h2>
                <hr class="mission-vision">
              </div>
              <div class="shantilal-desc pt30">
                <p class="color-white text-justify">
                  Our vision is to ensure that all children get an education that will help them become caring, responsible and productive citizens.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="mission shantilal-desc-main color-white ">
              <div class="mission-title text-center">
                <h2 class="font-didot mar0">MISSION</h2>
                <hr class="mission-vision">
              </div>
              <div class="shantilal-desc pt30 vision-desc">
                <p class="color-white text-justify">
                  Our mission is to help school-systems, schools and teachers enrich their capacities for fostering the all-round development of children.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="founder pt100 pb100 bg-white">
    <div class="container">
      <div class="row cen-button">
        <div class="col-md-offset-1 col-md-10">
          <div class="row">
            <div class="text-center mt60 mb60">
              <h1 class="font-didot">The Founder</h1>
            </div>
            <div class="col-md-3 ">
              <div class="circle">
                <img src="img/give/shantilal/founder.jpg" alt="">
              </div>
              <p class="text-center">
                Mr. Shantilal Muttha
              </p>
              <hr class="mission-vision color-golds-brd">
            </div>
            <div class="col-md-9">
              <div class="cont-founder">
                <p class="text-justify">Shantilal Muttha, the founder-chairman of the Shantilal Muttha Foundation, is a successful entrepreneur who has devoted himself entirely to voluntary developmental work over the past four decades. Born in Dongarkini, a village in the under-developed
                  Beed district of Maharashtra, on August 15, 1954, he overcame several personal challenges to establish himself in business. After a successful career in business, he decided to use all his energies and resources to work in the areas
                  of school education, social change, and disaster response and rehabilitation. To give an organizational platform for work in these areas, he founded the Bharatiya Jain Sanghatana (BJS) in 1980 and headed it till the end of 2013. A secular
                  NGO with a national network, BJS has several achievements to its credit.</p>
              </div>
            </div>
          </div>
          <div class="btn-vis text-center">
            <a href="http://www.mutthafoundation.org" target="_blank" class="btn btn-secondary btn-visit" role="button">Visit Website</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="give bg-white">
    <div class="container-fluid">
      <div class="pt6">
        <div class="row">
          <div class="col-custom-6 pr3">
            <div class="img-holder pb3">
              <img src="img/give/shantilal/g1.jpg" class="img-responsive" alt="">
            </div>
          </div>
          <div class="col-custom-7 pl3">
            <div class="img-holders pb3">
              <img src="img/give/shantilal/g2.jpg" class="img-responsive" alt="">
            </div>
            <div class="img-holders pt3">
              <img src="img/give/shantilal/g3.jpg" class="img-responsive" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
