<footer class="footer-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="footer text-center custom-li">
                <ul>
                  <li>
                    <a href="#/media">Media Corner </a>
                  </li>
                  <li>
                    <a href="#/client">Clients</a>
                  </li>
                  <li>
                    <a href="#/careers">Careers</a>
                  </li>
                  <li>
                    <a href="#/contact">
                      Contact Us
                    </a>
                  </li>
                </ul>
              </div>
            </div>
        </div>
    </div>
</footer>
