<footer class="footer-white">
    <div class="container">
        <div class="row pos-rel">
          <div class="col-md-3">
          <div class="main-g">
              <span class="color-white">Copyright © 2016 Muttha </span>
          </div>
          </div>
            <div class="col-md-3">
              <div class="footer text-up">
                <ul>
                  <li>
                    <a href="#/know">Know </a>
                  </li>
                  <li>
                    <a href="#/build">Build</a>
                  </li>
                  <li>
                    <a href="#/give">Give</a>
                  </li>
                  <!-- <li>
                    <a href="#/contact">
                      Contact Us
                    </a>
                  </li> -->
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div class="footer">
                <ul>
                  <li>
                    <a href="#/media">Media Corner </a>
                  </li>
                  <li>
                    <a href="#/client">Clients</a>
                  </li>
                  <li>
                    <a href="#/careers">Careers</a>
                  </li>
                  <li>
                    <a href="#/contact">
                      Contact Us
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-md-3">
              <div class="main-g">
            <span class=" mobile-center color-white">Designed by <a href="http://www.ting.in/" target="_blank">TING</a></span>
            </div>
            </div>
        </div>
    </div>
</footer>
