<header ng-controller="headerctrl">

   <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container padding-container">
      <div class="nav-header">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home"><img src="img/logo.png" alt="logo"> </a>
        </div>
        <div class="hamburger hidden-xs">
             <button type="button" class="navbar" >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="nav-collapse">
               <div ng-include="template.menu" class="template menu"></div>
               <div class="social-icon float-right hidden-xs">
<div class="pos-re">
  <div class="img-abs">
    <img src="img/searchh.png" alt="">
  </div>
<div class="ui-sl">
  <ui-select ng-model="country.selected" class="search-drop">
      <ui-select-match placeholder="Search Project">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="country in pages | filter: $select.search">
          <span ng-bind-html="country.name | highlight: $select.search" ui-sref="{{country.link}}"></span>
      </ui-select-choices>
  </ui-select>
</div>

</div>
               </div>
        </div>
        </div>
    </div>
</nav>

</header>
