<!--<header ng-controller="headerctrl">

   <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container padding-container">
      <div class="nav-header">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home"><img src="img/logo.png" alt="logo"> </a>
        </div>
 <div ng-include="template.menu" class="template menu pull-left"></div> 
        <div class="collapse navbar-collapse " id="nav-collapse">
               
               <div class="social-icon2 pull-right hidden-xs">
<div class="pos-re">
  <div class="img-abs">
    <img src="img/searchh.png" alt="">
  </div>
<div class="ui-sl">
  <ui-select ng-model="country.selected" class="search-drop">
      <ui-select-match placeholder="Search Project">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="country in pages | filter: $select.search">
          <span ng-bind-html="country.name | highlight: $select.search" ui-sref="{{country.link}}"></span>
      </ui-select-choices>
  </ui-select>
</div>

</div>
               </div>
        </div>
        </div>
    </div>
</nav>

</header>-->
<!--<header ng-controller="headerctrl">

   <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container padding-container">
      <div class="nav-header">
        <div class="navbar-header">
             <div class="hamburger" ng-click="getMenu();">
             <button type="button" class="navbar" >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
         <div class="side-menu menu-out">
                <span class="pull-right close-icon">
                    <i class="fa fa-2x fa-times" ng-click="closeMenu();"></i>
                </span>
                <div class="template menu" ng-include="template.menu"></div>
            </div>
            <a class="navbar-brand" href="#/home"><img src="img/logo.png" alt="logo"> </a>
        </div>
       

        <div class="collapse navbar-collapse" id="nav-collapse">
               <div ng-include="template.menu" class="template menu"></div>
               <div class="social-icon float-right hidden-xs">
<div class="pos-re">
  <div class="img-abs">
    <img src="img/searchh.png" alt="">
  </div>
<div class="ui-sl">
  <ui-select ng-model="country.selected" class="search-drop">
      <ui-select-match placeholder="Search Project">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="country in pages | filter: $select.search">
          <span ng-bind-html="country.name | highlight: $select.search" ui-sref="{{country.link}}"></span>
      </ui-select-choices>
  </ui-select>
</div>

</div>
               </div>
        </div>
        <div class="clearfix"></div>
        </div>
    </div>
       
</nav>

</header>-->
<header ng-controller="headerctrl">
    <nav class="navbar navbar-fixed-top ">
        <div class="container ">
            <div class="clearfix">
    
            <div class="absoluted pull-left" ng-click="getMenu();">
                <div class="mt35 ">
                    <div class="hamburger">
             <button type="button" class="navbar" >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
                </div>
            </div>
            <div class="logos pull-left">
                <a ui-sref="home" class="navbar-brand">
                    <img src="img/logo.png" class="img-responsive " alt="logo">
                </a>
            </div>
  <div class="collapse navbar-collapse" id="nav-collapse">
               <div ng-include="template.menu" class="template menu"></div>
               <div class="social-icon float-right hidden-xs">
<div class="pos-re">
  <div class="img-abs">
    <img src="img/searchh.png" alt="">
  </div>
<div class="ui-sl">
  <ui-select ng-model="country.selected" class="search-drop">
      <ui-select-match placeholder="Search Project">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="country in pages | filter: $select.search">
          <span ng-bind-html="country.name | highlight: $select.search" ui-sref="{{country.link}}"></span>
      </ui-select-choices>
  </ui-select>
</div>

</div>
               </div>
        </div>

            </div>
        

            <div class="side-menu menu-out">
                <span class="pull-right close-icon mt20" ng-click="closeMenu();">
                       <!--<img src="frontend/img/home/r4.png" class="img-responsive" alt="cross">-->
                    <i class="fa fa-2x fa-times" ></i>
                </span>
                <div class="clearfix"></div>
                <!--<h3 class="uppercase text-center">menu</h3>-->
                <!--<div class="template menu text-center" ng-include="template.menu"></div>-->
<ul class="slide-menu">
    <h3 class="text-uppercase">menu</h3>
    <li>
        <h4 class="uppercase f30">
          <a href="#/know">Know</a>
          </h4>
    </li>

      <li>
        <h4 class="uppercase f30">
          <a href="#/build">Build</a>
          </h4>
    </li>
     <li>
        <h4 class="uppercase f30">
          <a href="#/give">Give</a>
          </h4>
    </li>
      <!--<li>
        <h4 class="uppercase f30">
          <a ui-sref="partner">partner</a>
          </h4>
    </li>-->
    <!--<li>
        <h4 class="uppercase f30">
          <a ui-sref="work">testimonials</a>
          </h4>
    </li>
       <li>
        <h4 class="uppercase f30">
          <a ui-sref="work">contact us</a>
          </h4>
    </li>-->
</ul>
                <!--<div class="mt30">
                    <button class="btn btn-green btn-block text-up">Become a member</button>
                </div>-->
            </div>
        </div>
    </nav>
</header>
